[submodule "helper_libraries"]
	path = helper_libraries
	url = https://github.com/RTOS-From-Scratch/helper_libraries.git
[submodule "Kernel"]
	path = Kernel
	url = https://github.com/RTOS-From-Scratch/Kernel
[submodule "DataStructures"]
	path = DataStructures
	url = https://github.com/RTOS-From-Scratch/DataStructures.git
